* {

    -webkit-box-sizing: border-box;
  
    -moz-box-sizing: border-box;
  
    -webkit-tap-highlight-color: transparent;
  
  
  
    box-sizing: border-box;
  
    margin: 0;
  
    padding: 0;
  
  }
  .container {

    font-family: "Raleway", sans-serif;
  
    display: grid;
  
    grid-template-columns: 67% 33%;
  
    grid-template-rows: repeat(5, 0.1fr);
  
    grid-template-areas:
  
      "nav nav"
  
      "header header"
  
      "accommodations aside"
  
      "activities activities"
  
      "footer footer";
  
  }
/*Nav Bar*/

nav {

  grid-area: nav;

  margin: 15px 40px;

}

nav img {

  float: left;

  padding-top: 20px;

}

nav ul {

  float: right;

}

nav ul li {

  float: left;

  list-style-type: none;

  padding: 35px 11px 12px 11px;

  margin-left: 50px;

  font-weight: 500;

  border-top: white solid 1px;

}

.sign-up a {

  color: #1e90ff;

  font-weight: bold;

}

a {

  text-decoration: none;

  color: inherit;

}

.accommodations-btn {

  color: #1e90ff;

  border-top: #0065fc solid 1px;

}

header {

  grid-area: header;

  margin: 15px 40px;

  order: 2;

}

header h6 {

  font-size: small;

  line-height: 3;

  opacity: 60%;

}
